body {
  background-color: hsl(185, 41%, 84%);
  font-size: 24px;
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  width: 800px;
  height: 400px;
  margin-top: 250px;
  margin-left: 30%;
  background-color: white;
  border-radius: 8px;
  display: flex;
}
#msgError {
  font-size: 18px;
  margin-top: 5px;
}

.left {
  width: 350px;
  height: 300px;
  margin: 1.5em 2em 0 2em;
}

.right {
  border: 1px solid blue;
  height: 300px;
  width: 350px;
  margin: 1.5em 2em 0 0;
  background-color: #00474b;
}

.middle-left {
  width: 100%;
  height: 50%;
  padding: 0.5em 0 0 0;
}

.inputs {
  border-radius: 4px;
  height: 25px;
  width: calc(100% - 14px);
  padding: 0 7px;
  color: hsl(183, 100%, 15%);
  text-align: right;
}

.tittle {
  color: gray;
}

.button {
  background-color: hsl(183, 100%, 15%);
  height: 30px;
  width: 75px;
  border-radius: 4px;
  color: white;
  margin: 5px 10px 2px 10px;
  border: none;
}

#groupTips {
  margin-top: 5px;
  font-weight: bold;
}

#custom {
  background-color: white;
  height: 30px;
  width: 68px;
  margin-left: 9px;
  color: black;
  text-align: right;
  border-radius: 4px;
}

.tittle-right {
  color: white;
  font-size: 20px;

  margin: 3em 0 0 2em;
}

.secondTittle {
  color: gray;
  font-size: 14px;
  margin: 0 0 0 2.7em;
}

.total {
  color: #2dc2ac;
  display: inline-block;
  margin: 2.5em 0 0 4.5em;
}
#totalPerson {
  margin: 2.5em 0 0 6.8em;
}
.top-right {
  display: flex;
}

.middle-right {
  display: flex;
}

#buttonReset {
  margin: 2em 0 0 2.5em;
  width: 80%;
  background-color: #26c2ad;
  border-radius: 4px;
}
